* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.navigationContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img{
    width: 115px;
    height: 115px;
}

.heroImg {
    background-size: cover;
}

#mainHero {
    background-image: url(../Images/blue\ background.jpg);
}

#project1 {
    background-image: url(../Images/backgroundimg.jpg);
}

#project2 {
    background-image: url(../Images/sunset.jpg);
}

#project3 {
    background-image: url(../Images/blue\ background.jpg);
}

#project4 {
    background-image: url(../Images/backgroundimg.jpg);
}

#contact {
    background-color: #4C505C;
}

.contact {
    height: 400px;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;

}

.contactcta {
    padding: 15px 30px;
    background: #BFAEB3;
    color: #fff;
    line-height: 1;
    border-radius: 20px;
    text-decoration: none;
}

.contactcta:hover {
    background: #000;
}

.contactContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items:center;
    padding: 10px;
} 

.contactHeader {
    text-align: left;
    font-size: 1 rem;
    margin: 0;
    color:#fff;
}

.contactinfo {
    color:#fff;
}

input {
    width: 100%;
  }

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }


.content {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    aspect-ratio: 2 / 1;
}


@media (min-width: 800px) {
    .content {
        display: flex;
        flex-direction: row-reverse;
    }
}

.contentContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

@media (min-width: 800px) {
    .contentContainer {
        width: 50%;
    }
}

.heroHeader {
    text-align: left;
    font-size: 1.4rem;
    margin: 0;
}

.contentContainer p {
    margin: 0;
    padding: 0;
}


.heroImg--inverted .content {
    flex-direction: row;
}

.cta {
    padding: 15px 30px;
    background: #4C505C;
    color: #fff;
    line-height: 1;
    border-radius: 20px;
    text-decoration: none;
}

.cta:hover {
    background: #000;
}

.contentContainer--alt .cta {
    background: #BFAEB3;
    color: #4C505C;
}

.contentContainer--alt .cta:hover {
    background: #9c868c;
}

h1 {
    padding-top: 20px;
}

p {
    padding-top: 20px;
}

.skillHeader {
    padding-top: 50px;
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
}
.skillscontent {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    aspect-ratio: 2 / 1;
}

.skillsetcontentContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    padding-top: 20px;
}

.uxskillcontentContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

@media (min-width: 800px) {
    .skillsetcontentContainer {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .uxskillcontentContainer {
        width: 50%;
    }
}


.workHeader {
    padding-top: 50px;
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
}

.workcontent {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    aspect-ratio: 2 / 1;
}

.flybycontentContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    padding-top: 20px;
}

.giftedcontentContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    padding-top: 30px;
}

.animalcontentContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    padding-top: 20px;
}

.allprojectcta {
    padding: 15px 30px;
    background: #9c868c;
    color: #fff;
    line-height: 1;
    border-radius: 20px;
    text-decoration: none;
}

@media (min-width: 800px) {
    .flybycontentContainer {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .giftedcontentContainer {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .animalcontentContainer {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .allprojectcta {
        width: 50%;
    }
}

.allprojectcta:hover {
    background: #000;
}

footer {
    background-color: #373738;
    padding: 1%;
    
}

footer ul {
    width: 50%;
    float: right;
    text-align: center;
    vertical-align: top;
    padding: 1%;
}

footer li {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
}
footer li:hover{
    color: blue;
    transition: all 0.4s ease 0s;
}

