* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.navigationContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
}

.logo img{
    width: 115px;
    height: 115px;
}

.heroImg {
    background-color: #BFAEB3;
}


#project1 {
    background-image: url(../Images/animalhouse.png);
    background-position: center;
    background-size: cover;
}

#project2 {
    background-image: url(../Images/flyby-mockup.png);
    background-position: center;
    background-size: cover;
}

#project3 {
    background-image: url(../Images/gifted.png);
    background-position: center;
    background-size: cover;
}


#contact {
    background-color: #4C505C;
}

.contact {
    height: 500px;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;

}

.contactcta {
    padding: 20px 50px;
    background:#BFAEB3;
    color:#4C505C;
    line-height: 1;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
}

.contactcta:hover {
    background:#9c868c;
    color: #fff;
}

.contactContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px;
} 

.contactHeader {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    color:#fff;
    font-family: 'Times New Roman', Times, serif;
}

.contactinfo {
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

input {
    width: 100%;
  }

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

label {
    color: #fff;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    aspect-ratio: 2 / 1;
}


@media (min-width: 800px) {
    .content {
        display: flex;
        flex-direction: row-reverse;
    }
}

.contentContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

@media (min-width: 800px) {
    .contentContainer {
        width: 50%;
    }
}

.heroHeader {
    text-align: left;
    font-size: 2rem;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

nav li:hover{
    color:#9c868c;
    transition: all 0.4s ease 0s;
}

.contentContainer p {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}


.heroImg--inverted .content {
    flex-direction: row;
}

.cta {
    padding: 20px 50px;
    background: #4C505C;
    color: #fff;
    line-height: 1;
    border-radius: 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cta:hover {
    background:#9c868c;
}

.contentContainer--alt .cta {
    background: #BFAEB3;
    color: #4C505C;
}

.contentContainer--alt .cta:hover {
    background: #9c868c;
    color: #fff;
}

h1 {
    padding-top: 20px;
    color: #fff;
}

p {
    padding-top: 20px;
    color:gainsboro;
}

.copyrighttext {
    color:#3A3A3A;
}

h2 {
    color:#BFAEB3;
    letter-spacing: 2px;
}

footer {
    background-color: #BFAEB3;
    padding: 5%;
}

footer ul {
    width: 50%;
    float: right;
    text-align: center;
    vertical-align: top;
    padding: 1%;
}

footer li {
    display: inline-block;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding: 0px 30px;
    color: #3A3A3A;
}
footer li:hover{
    color: white;
    transition: all 0.4s ease 0s;
}

